* {
  margin: 0;
  box-sizing: border-box;
  padding:0;
}

body {
  background: url("../images/star-wars-backgrounds-25.jpg");
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

a:link {
 
  text-decoration: none;
}
