.StartPage{
    position: relative;
    width: 100vw;
    height: 50vh;
}


.page-title {
  text-align: center;
    position: absolute;
    width:100vw;
margin:0 auto;
  font-size: 13.9rem;
  color:yellow;
  font-family: 'Anton', sans-serif;
     top:45% ;
  
}
@media (max-width:900px){
  .page-title{
    
   position: absolute;
   font-size:10.5rem;
   top:40%;
  left:0;
  }
}
@media (max-width:600px){
  .page-title{
    
   position: absolute;
   font-size:5.5rem;
   top:10%;
  left:0;
  
  }
}


@media (max-width:400px){
  .page-title{
    
   position: absolute;
   font-size:4.5rem;
   top:70%;
  left:0;
  color:rgba(211, 74, 192, 0.5);
  }
}